Atividade01/basic_file_transfer/server_directory
Atividade02/udp_file_transfer/server_directory/


# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
/Atividade02/p2p_chat/UDPChat/nbproject/private/
